.p-card-body {
    padding: 0 !important;
}

.p-card-content {
    padding: 0 !important;
}

.image {
    object-fit: contain;
}

button.p-button.p-component {
    @apply !flex py-2 px-2 justify-center
}