.p-card-body {
    padding: 0 !important;
}

.p-card-content {
    padding: 0 !important;
}

.image {
    object-fit: contain;
}

button.p-button.p-component {
    padding: 0;
    margin: 0;
    display: flex !important;
    justify-content: center !important;
}